:root {
	--primary-clr: #2d2e2e;
	--secondary-clr: #716969;
	--text-clr: #ffff;
}

body {
	background-color: var(--secondary-clr);
	color: var(--text-clr);
	font-family: 'Poppins', sans-serif;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary-clr);
	padding: 2rem;
	border-radius: 0.5rem;
}

.passwordContainer {
	background-color: var(--text-clr);
	display: flex;
	flex-direction: row-reverse;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.settings {
	padding: 1rem 0rem 1rem 0rem;
	font-weight: 300;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

button {
	background-color: var(--secondary-clr);
	border-radius: 0.25rem;
	border-style: none;
	color: var(--text-clr);
}

button,
input {
	cursor: pointer;
}

.lgBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copyBtn {
	padding: 1.25rem;
}

#generate {
	width: 100%;
	padding: 1rem 0rem 1rem 0rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
}
